---
layout: default
---

   <div class="fade">
     <div>
        
  <span style="color:#159957;font-size:25px">Hi, 小伙伴们！</span>
  <h2><span style="color:#78909C;font-size:20px">&nbsp;这是一个从Github上借鉴的模板……</span></h2>
  <h2>主域名:<blockquote><span style="color:#78909C;font-size:20px">AdmireSweet.github.io</span></blockquote></h2>
  <h2>博主:<blockquote><span style="color:#78909C;font-size:20px">Sweet(慕甜Internet)</span></blockquote></h2>
  <h2>网站描述:<blockquote><span style="color:#78909C;font-size:20px">现在还不完善，我会随时更新哒:></span></blockquote></h2>
  <h2>主题色:<blockquote><span style="color:#78909C;font-size:20px">这个暂时还没有啦</span></blockquote></h2>
  <br><span style="font-size:14px" id="cut"></span>
  <br><span style="font-size:14px" id="latest"></span>
    </div>
   </div>
